<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p><img src="https://images.jointheleague.org/logos/flag-sunburst.png" style="height: 25px; vertical-align: middle;"> League Labs</p>
      </div>

      <div class="footer-col footer-col-2">
        <a href="https://jointheleague.org/">jointheleague.org</a><br>
      </div>

      <div class="footer-col footer-col-3">
       
      </div>
    </div>

  </div>

</footer>